[Desktop Entry]
Type=Application
Name={{name}}
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}} %F
StartupWMClass={{exec}}
Icon={{icon}}
Terminal=false
Categories=System;TerminalEmulator;Development;
Keywords=terminal;shell;console;
MimeType=inode/directory;
